body::after {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("bg-texture.png");
  opacity: 0.04;
  pointer-events: none;
  z-index: 999;
}


.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  align-items: center;
}

.logo img {
  height: 45px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 8px;

  background: rgba(255, 255, 255, 0.75);
  padding: 6px;
  border-radius: 999px;
}
.nav a {
  text-decoration: none;
  color: #1e1e1e;
  font-weight: 500;
  padding: 10px 16px;
  border-radius: 999px;
}
.nav-btn {
  background: #1e1e1e;
  color: white !important;
  font-weight: 600;
}

.nav a:hover {
  background: rgba(0, 0, 0, 0.08);
}

.btn {
  padding: 10px 18px;
  border-radius: 20px;
}

.primary {
  background: #222;
  color: #fff;
}

.secondary {
  border: 1px solid #222;
}

.hero {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px;

  background-image:
    linear-gradient(
      rgba(245, 238, 230, 0.85),
      rgba(245, 238, 230, 0.85)
    ),
    url("bg-texture.png");

  background-position: center;
  background-size: 200% 200%;
  animation: gradientMove 12s ease infinite;
}


.hero-image img {
  max-width: 400px;
  border-radius: 20px;
}

.why, .made, .buy {
  padding: 60px 40px;
  text-align: center;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  margin-top: 40px;
}

.card {
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 30px;
  text-align: center;
  box-shadow: 0 20px 40px rgba(0,0,0,0.08);
}



footer {
  padding: 30px;
  text-align: center;
  background: #eee;
}
@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
a {
  color: inherit;
}







