body::after {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("bg-texture.png");
  opacity: 0.04;
  pointer-events: none;
  z-index: 999;
}


.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  align-items: center;
}

.logo img {
  height: 45px;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #222;
}

.btn {
  padding: 10px 18px;
  border-radius: 20px;
}

.primary {
  background: #222;
  color: #fff;
}

.secondary {
  border: 1px solid #222;
}

.hero {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px;

  background-image:
    linear-gradient(
      rgba(245, 238, 230, 0.85),
      rgba(245, 238, 230, 0.85)
    ),
    url("bg-texture.png");

  background-position: center;
  background-size: 200% 200%;
  animation: gradientMove 12s ease infinite;
}


.hero-image img {
  max-width: 400px;
  border-radius: 20px;
}

.why, .made, .buy {
  padding: 60px 40px;
  text-align: center;
}

.cards {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.card {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.08);
}


footer {
  padding: 30px;
  text-align: center;
  background: #eee;
}
@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}




